<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Enter OTP</title>
    <style>
        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }

        body {
            font-family: Arial, Helvetica, sans-serif;
            background-color: #f4f4f4;
            min-height: 100vh;
        }
        
        .container{
            width: 100%;
            height: 400px;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        h1 {
            text-align: center;
            margin-bottom: 20px;
        }

        form {
            background-color: #ffffff;
            padding: 20px;
            border-radius: 10px;
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
            width: 300px;
        }

        label {
            font-weight: bold;
            margin-bottom: 5px;
        }

        input[type="email"],
        input[type="password"],
        input[type="text"] {
            width: 100%;
            padding: 10px;
            margin-bottom: 10px;
            border: 1px solid #ccc;
            border-radius: 5px;
        }

        button[type="submit"] {
            background-color: #007BFF;
            color: #fff;
            border: none;
            padding: 10px 15px;
            border-radius: 5px;
            cursor: pointer;
        }

        button[type="submit"]:hover {
            background-color: #0056b3;
        }
        .red{
            margin-bottom: 10px;
            color: red;
        }
        .caution{
            color: grey;
            opacity: 10px;
            font-size: 15px;
            margin-bottom: 10px;
        }
    </style>
</head>
<body>
    <h1>Enter OTP</h1>
    <form action="/verify" method="POST">
        <div class="caution">OTP is valid for only 1 minute</div>
        <label for="otp">OTP:</label>
        <input type="text" id="otp" name="otp" required>
        <br><br>
        <button type="submit">Verify OTP</button>
    </form>
    <form action="/resendotp" method="POST">
        <button type="submit">Resend OTP</button>
    </form>
</body>
</html>