<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Signup</title>
    <style>
        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }

        .container {
            display: flex;
            justify-content: center;
            align-items: center;
        }

        body {
            font-family: Arial, Helvetica, sans-serif;
            background-color: #f4f4f4;
            min-height: 100vh;
        }

        h1 {
            text-align: center;
            margin-bottom: 20px;
        }

        form {
            background-color: #ffffff;
            padding: 20px;
            border-radius: 10px;
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
            width: 300px;
        }

        label {
            font-weight: bold;
            margin-bottom: 5px;
        }

        input[type="text"],
        input[type="email"],
        input[type="password"] {
            width: 100%;
            padding: 10px;
            margin-bottom: 10px;
            border: 1px solid #ccc;
            border-radius: 5px;
        }

        button[type="submit"] {
            background-color: #007BFF;
            color: #fff;
            border: none;
            padding: 10px 15px;
            border-radius: 5px;
            cursor: pointer;
        }

        button[type="submit"]:hover {
            background-color: #0056b3;
        }
        .red{
            margin-bottom: 10px;
            color: red;
        }
        .account a{
            text-decoration: none;
            margin-top: 10px;
            display: flex;
            align-items: center;
            justify-content: center;
            color: green;
        }
    </style>
</head>

<body>
    <h1>Signup</h1>
    <div class="container">
        <form action="/signup" method="POST">
            <% if (error) { %>
             <p class="red"><%= error %></p>
            <% } %>
            <label for="username">Enter Username: </label>
            <input type="text" name="username" id="username" required>
            <label for="email">Enter Email: </label>
            <input type="email" name="email" id="email" required>
            <label for="password">Enter Password: </label>
            <input type="password" name="password" id="password" required>
            <label for="password">Confirm Password: </label>
            <input type="password" name="confirmpassword" id="confirmpassword" required>
            <div class="red" id="check"></div>
            <input type="checkbox" name="show" id="show" onclick="showpassword()">
            <label for="show">showpassword</label></br></br>
            <button type="submit">Submit</button>
            <div class="account"><a href="/login" target="_self">Already Have an Account?</a></div>
        </form>
    </div>
    <script>
        const pass = document.getElementById('password');
        const confirmpass = document.getElementById('confirmpassword');
        const checking = document.getElementById('check');

        confirmpass.addEventListener('input', () => {
            if (confirmpass.value === pass.value) {
                checking.textContent = "Passwords matches";
            } else {
                checking.textContent = "Passwords do not match";
            }
        });
        function showpassword()
        {
            const showpass = document.getElementById('password')
            const confirmpass = document.getElementById('confirmpassword');
            if(showpass.type=='password'){
                showpass.type='text'
                confirmpass.type = 'text'
            }else{
                showpass.type='password'
                confirmpass.type = 'password'
            }
        }
    </script>
</body>

</html>